@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap");

nav {
  color: #ffffff;
}
.navb a {
  font-size: 16px;
  color: #ffffff;
  font-family: Urbanist, Arial, sans-serif;
  line-height: 22.8px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.navb a:visited {
  color: white;
}
.navb a:hover {
  color: #d9d9d9;
  transition: 0.25s;
}
.navb {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  padding: 8px;
  display: flex;
  height: 70px;
  transition: 0.3s;
  background-color: #070756;
}
.items {
  width: 100px;
}
.itemstack {
  margin: 20px auto;
}
.devuplogo {
  padding: 0px 4px;
  width: 74px;
  height: 58px;
}
.button {
  position: fixed;
  top: 7px;
  right: 35px;
  margin-top: 13px;
}

.navmenu {
  display: none;
  z-index: 10000;
}
.menu {
  display: none;
}
.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  transition: 0.3s;
  background-color: #070756;
  border-bottom-left-radius: 5px;
}
.sidebutton {
  position: fixed;
  top: 90%;
}
@media (max-width: 825px) {
  .itemstack {
    display: none;
  }
  .button {
    display: none;
  }
  .navmenu {
    display: flex;
    position: fixed;
    top: 7px;
    right: 35px;
    margin-top: 13px;
  }
  .menu {
    display: none;
    margin: 55% 17%;
    line-height: 40px;
    text-align: center;
    position: absolute;
  }
  .menu.open {
    display: block;
  }
  .sidebar.open {
    width: 150px;
  }
}
